.events__holder {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: var(--text-color);
  width: 300px;
  height: 400px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px 20px 15px black;
  border-radius: 10px;
}
.events__holder img {
  border-radius: 0;
  height: 60%;
  width: 100%;
  margin: 0;
}
.events__holder p {
  width: 90%;
  /* height: 100%; */
  font-size: 1.1rem;
  text-align: start;
  margin-left: 5px;
}
.events__holder button {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--heading-color);
  cursor: pointer;
}
.events__holder button:hover {
  background-color: transparent;
  border: 1px solid var(--heading-color);
}
