* {
  background-color: #070513;
  box-sizing: border-box;
  /* margin: 5px 5px 5px 5px; */
  /* justify-content: center; */
}
:root {
  --background-color: #070513;
  --text-color: #fff;
  --heading-color: #fa0fe2;
}
